@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eae3e3;
  --foreground: #f3f3f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #DEF9C4;
    --foreground: #f4dede;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
